###########################################################
############## Current project setup ######################
###########################################################
COMPOSE_PROJECT_NAME=cryptopro
APP_HOST_IP=127.0.0.1
APP_HOST_PORT=88
PUBLIC_KEY_FILE_NAME=test-certificate.cer
PRIVATE_KEY_FOLDER_NAME=test-sig.000

###########################################################
################ Containers Customization #################
###########################################################
### App ###################################################
#APP_HOST_IP=0.0.0.0
#APP_HOST_PORT=81
#PUBLIC_KEY_FILE_NAME=test-certificate.cer
#PRIVATE_KEY_FOLDER_NAME=test-sig.000